{%- filter indent(_indent_level) -%}
<div style="min-height: 20em;"><!-- TODO: remove this -->
<h1>About ST-Analyzer</h1>
<p>ST-Analyzer is a web GUI, CLI, and API for quickly running common analysis, job management, and visualizing results.</p>
<p>To get started, create your project in the Projects menu, then schedule analysis to run in the Analysis menu.</p>
<p>Don't see the analysis you want? Consider creating or installing your own with the Plugins menu. Refer to the Documentation for ST-Analyzer concepts.</p>
</div><!-- TODO: remove this -->
{%- endfilter -%}
