{%- import 'parts/form.html' as form with context -%}
{%- import 'parts/analysis.html' as analysis with context -%}
<form id="{{ page_id }}_form" action="/{{ page_id }}" method="post">
{%- filter indent(_indent_level+4) %}
{%- for name, settings in analysis_form.items() %}
{{ analysis.analysis(name, settings['options'], label=settings['label']) }}
{%- endfor %}
{{ form.checkbox('helix_tilt', label="Helix Tilt Angle") }}
<div data-inset="true" class="ui-body ui-body-a ui-corner-all">
</div>
{{ form.checkbox('order_param', label="Lipid Order Parameter") }}
<div data-inset="true" class="ui-body ui-body-a ui-corner-all">
</div>
{{ form.checkbox('RMSD', label="RMSD") }}
<div data-inset="true" class="ui-body ui-body-a ui-corner-all">
</div>
{{ form.checkbox('RMSF', label="RMSF") }}
<div data-inset="true" class="ui-body ui-body-a ui-corner-all">
</div>
{{ form.checkbox('sterol_tilt', label="Sterol Tilt Angle") }}
<div data-inset="true" class="ui-body ui-body-a ui-corner-all">
</div>
{{ form.checkbox('system_size', label="System Size") }}
<div data-inset="true" class="ui-body ui-body-a ui-corner-all">
</div>
{{ form.checkbox('membrane_thickness', label="Membrane Thickness") }}
<div data-inset="true" class="ui-body ui-body-a ui-corner-all">
</div>
{%- endfilter %}
