{%- filter indent(_indent_level) -%}
<h1>About ST-Analyzer</h1>
<p>TODO: write a new front page description</p>
<p>Have you ever had a simulation idea with an application ready to go, but forgot what
all the PBS options were? Yeah, us too.</p>
<p>HPC-GUI guides you through choosing:</p>
<ul>
    <li>Queue and job names</li>
    <li>Notification settings</li>
    <li>Number of nodes / tasks per node</li>
</ul>
<p>HPC-GUI can handle common parallelization regimes for some simulation packages, but
you can use it for non-simulation purposes, as well.</p>
<p>Choose a starting point from the menu and submit your jobs from here!</p>
{%- endfilter -%}
