{%- import 'parts/form.html' as form with context -%}
{%- import 'parts/pbs.html' as pbs with context -%}
<form id="{{ page_id }}_form" action="/{{ page_id }}" method="post">
{%- filter indent(_indent_level+4) %}
{{ form.path('namd_path', value='/soft/applications/NAMD/namd3', label="Path to NAMD executable") }}
{{ form.path('charmrun_path', value='/soft/applications/NAMD/namd3.charmrun',
        label='Path to Charm++ executable') }}
{{ form.path('ti_path', value='ti_site.conf', label='Path to TI configuration') }}
{{ form.path('source', value='ALCH_REST2_softcore.namd',
        label='Path to replica exchange protocol') }}
{{ form.path('stdout', value='output_site_ti/%d/job0.%d.log',
        label='Path template for output logging') }}
{{ form.positive_integer('replicas', label="Number of replicas", mini=True) }}
{{ form.positive_integer('ndivicesperreplica', label="Number of devices per replica") }}
{{ form.positive_integer('np', label="Number of processes") }}
{{ form.positive_integer('ppn', label="Threads per node" ) }}
{{ form.non_negative_integer('gpus', value=4, label="Number of GPUs") }}
{{ form.select('system', [
    ('any', 'Any'),
    ('polaris', 'Polaris', True)], label="System") }}
{{ pbs.resources(mpiprocs=True, default_chunks="4:mpiprocs=4:system=polaris") }}
{%- endfilter %}
<pre id="{{ page_id }}_script_tpl" class="code" style="display: none;">#!/bin/bash -l
<span id="{{ page_id }}_pbs_opts">#PBS placeholder_text</span>

EXE=<span data-src="namd_path"></span>
CHARMRUN=<span data-src="charmrun_path"></span>

cd ${PBS_O_WORKDIR}

module swap PrgEnv-nvhpc/8.3.3 PrgEnv-gnu/8.3.3
module load cudatoolkit-standalone/11.6.2

$CHARMRUN ++mpiexec ++np <span data-src="np"></span> ++ppn <span data-src="ppn"></span> +replicas <span data-src="replicas"></span> <span data-src="ti_path"></span> --source <span data-src="source"></span> +pemap 0-31 +setcpuaffinity +devices <span data-function="num_to_range_list" data-src="gpus"></span> +stdout <span data-src="stdout"></span> +devicesperreplica <span data-src="ndevicesperreplica"></span>
</pre>
{%- filter indent(_indent_level+4) %}
<h2>The Code</h2>
{{ form.textarea('code', classes=['code']) }}
{%- endfilter -%}
{% filter indent(_indent_level) %}
</form><!-- form#mca_form -->
{%- endfilter -%}
