{%- from 'parts/utils.html' import include_indented with context -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='jquery.mobile-1.4.5.min.css') }}">
    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}">
    <link href="{{ url_for('static', path='style.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', path='/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', path='/jquery.serializejson.js') }}"></script>
    <script src="{{ url_for('static', path='/jquery.mobile-1.4.5.min.js') }}"></script>
    <script src="{{ url_for('static', path='/forms.js') }}"></script>
</head>
<body>
    <div data-role="page" id="{{ page_id }}">
        {{ include_indented("parts/navigation.html", width=8) }}
        {{ include_indented("parts/header.html", width=8) }}
        <div class="ui-content" role="main">
            {%- set _indent_level = 12 %}
            {% include "content/%s.html"|format(page_id) %}
        </div><!-- .ui-content[role=main] -->
        {{ include_indented("parts/footer.html", width=8) }}
    </div><!-- page -->
    <div id="global_message" data-role="popup"
        data-position-to="window" data-theme="a"
        style="text-align: right;">
        <div id="global_message-content" class="ui-content"></div>
        <div id="global_message-close-btn">
            <button type="button">X</button>
        </div>
    </div>
    <div id="message_control">&and;</div>
</body>
</html>
